/* You can add global styles to this file, and also import other style files */



body{
  padding:20px;
  font-family: 'Roboto', sans-serif;

}


.form-control.ng-touched.ng-dirty{
  border: 2px solid red;
}
